body {
    font-family: 'Nunito', sans-serif;
    background-color: #5F7285;
}
h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 105px;
    color: #FFF;
    opacity: 50%;
}
h3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}
p {
    font-size: 14px;
    color: #FFF;
}